<section id="past-experience" style="position: relative">
  <div class="flex-orientation-switch" data-controller="map">
    <div class="map">
      <%= image_tag ("worldmap.svg"), class: "world-map"%>
        <div data-action="click->map#showUSA"><%= image_tag "pin.png", class: "pin pin-usa"%></div>
        <div data-action="click->map#showFrance"><%= image_tag "pin.png", class: "pin pin-france"%></div>
        <div data-action="click->map#showGermany"><%= image_tag "pin.png", class: "pin pin-germany"%></div>
        <div data-action="click->map#showRussia"><%= image_tag "pin.png", class: "pin pin-russia"%></div>
        <div data-action="click->map#showGreece"><%= image_tag "pin.png",  class: "pin pin-greece"%></div>
    </div>
    <div class="map-content">
      <h2><%= t('pastexperience.pastexperience') %></h2>
      <div data-map-target="blank" class="blank-map">
        <p>Click on a location pin to see my experience in that location.</p>
      </div>
      <div class="usa-content" data-map-target="usa">
        <h3>Middleborough, MA - USA</h3>
        <div class="country-experience-list">
          <div class="work-experience">
            <h4>Middleborough High School</h4>
            <h5>2012-2014</h5>
            <p>After completing the majority of my education in France, I attended Middleborough High School for my junior and senior years, making those years particularly significant. It marked a unique chapter in my academic journey, immersing myself in an American high school experience after an upbringing in the French education system.</p>
          </div>
        </div>
      </div>
      <div class="france-content" data-map-target="france">
        <h3>Lyon/St Etienne - FRANCE</h3>
        <div class="country-experience-list">
          <div class="work-experience">
            <h4>Junior Marketing Manager - Betterflies</h4>
            <h5>Oct 2020 - Jan 2021</h5>
            <p>During my 4-month mission, I took charge of leading market research initiatives in both France and Germany. Additionally, I had the creative opportunity to design the company logo and develop captivating business flyers. This hands-on experience allowed me to sharpen my skills in market analysis, branding, and graphic design, while making a meaningful contribution to Betterflies' marketing efforts.</p>
          </div>
          <div class="work-experience">
            <h4>Marketing intership - 1kubator(1K)</h4>
            <h5>Feb 2018 - Aug 2018</h5>
            <p>I collaborated with diverse startups, managing a team of 6 volunteers and handling communication with partners such as BP Aura and Blizzard. I successfully developed and maintained the brand image for one startup, while initiating market analysis, concept testing, and digital strategies for another. This immersive experience provided me with valuable insights into entrepreneurship, effective communication, and strategic marketing within the dynamic startup ecosystem.</p>
          </div>
          <div class="work-experience">
            <h4>Discovery intership - Chocolat Weiss</h4>
            <h5>Mar 2016</h5>
            <p>Chocolat Weiss is a locally renowned chocolate factory in St Etienne, where I had the opportunity to explore the diverse realms of accounting, marketing, and product departments, while eating a little too much chocolate for my own sake. </p>
          </div>
        </div>
      </div>
      <div class="germany-content" data-map-target="germany">
        <h3>Berlin - GERMANY</h3>
        <div class="country-experience-list">
          <div class="work-experience">
            <h4>Business Development internship - Joblift</h4>
            <h5>Oct 2019 - Apr 2020</h5>
            <p>During my internship at Joblift, I had the exciting role of driving business development activities in the French market. With a focus on maintaining and expanding our operations, I took charge of partner management, affiliate sales, and identifying new business opportunities.</p>
          </div>
          <div class="work-experience">
            <h4>Influencer Marketing internship - GOCOMO</h4>
            <h5>Feb 2019 - Jun 2019</h5>
            <p> My role was to select Instagram profiles for our clients' influencer campaigns. This involved careful analysis and curation to ensure alignment with target audiences and brand image.</p>
          </div>
          <div class="work-experience">
            <h4>Marketing internship - Galeries Lafayette</h4>
            <h5>Mar 2017 - Aug 2017</h5>
            <p> I actively contributed to the planning and organization of exciting events, such as Peep Night. Additionally, I played a key role in creating engaging social media content that showcased the latest trends and products.</p>
          </div>
        </div>
      </div>
      <div class="russia-content" data-map-target="russia">
        <h3>Saint Petersburg - RUSSIA</h3>
        <div class="country-experience-list">
          <div class="work-experience">
            <h4>Exchange semester at SPBU</h4>
            <h5>Winter 2018</h5>
            <p>During my 6-month exchange at Saint Petersburg State University, I immersed myself in Russian culture while studying subjects such as business ethics, HR and international HR, financial analyses, knowledge management, and operations management. I also dedicated time to learning the Russian language, expanding my linguistic and cultural horizons. It was a transformative experience that broadened my knowledge and understanding of global business practices and fostered personal growth.</p>
          </div>
        </div>
      </div>
      <div class="greece-content" data-map-target="greece">
        <h3>Athens - GREECE</h3>
        <div class="country-experience-list">
          <div class="work-experience">
            <h4>Au Pair</h4>
            <h5>Summer 2015</h5>
            <p>During my time as an au pair in Greece, I had the incredible opportunity to immerse myself in a new culture while providing care and guidance to an adorable 18-month-old Greek toddler. For three enriching months, I became an integral part of their family, fostering a nurturing and supportive environment.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render "footer" %>
</section>
