<section class="flex-column">
  <div>
    <h2>Past experience</h2>
    <div class="map-wrapper">
      <div class="map">
        <%= image_tag "pin.png", class: "pin pin-usa" %>
        <%= image_tag "pin.png", class: "pin pin-france" %>
        <%= image_tag "pin.png", class: "pin pin-germany" %>
        <%= image_tag "pin.png", class: "pin pin-russia" %>
        <%= image_tag "pin.png", class: "pin pin-greece" %>
      </div>
      <div class="work-experience-content">
        <div class="usa-content">
          <h3>Middleborough, MA - USA</h3>
          <div class="work-experience">
            <h4>Middleborough High School</h4>
            <p>After completing the majority of my education in France, I attended Middleborough High School for my junior and senior years, making those years particularly significant. It marked a unique chapter in my academic journey, immersing myself in an American high school experience after an upbringing in the French education system.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
