<%= render "landing-space" %>
<div style="position:relative" class="scroll-snap">
  <%= render "navbar" %>
  <%= render "about-me" %>
  <%= render "projects" %>
  <%= render "past-experience" %>
</div>
